/* Contact.css
.contact {
    padding: 60px 0;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin: 10px 0 5px;
}

.contact form input,
.contact form textarea {
    padding: 10px;
    margin-bottom: 20px;
}

.contact form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #555;
} */

.contactInfos{
    margin-right: 20px;
    width:35vw;
    padding: 20px;
    border-radius: 10px;
    background-color: #d7d7d7;
    box-shadow: 1px 1px 5px black;
}
.mapContainer{
    margin: 20px 0;
}
.contactForm{
    background-color: #d7d7d7;
    box-shadow: 1px 1px 5px black;
}