.policies-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
    line-height: 1.6;
}

.policies{
    text-align: left;
}

.policies-header {
    margin-bottom: 40px;
}

.policies-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.policies-header p {
    font-size: 1.2em;
}

.policy {
    margin-bottom: 40px;
}

.policy h2 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.policy h3 {
    font-size: 1.5em;
    color: #16a085;
    margin-bottom: 10px;
}

.policy ul {
    list-style-type: disc;
    margin-left: 20px;
}

.policy ul li {
    margin-bottom: 10px;
}
