:root {
  /* --primary-color: #ffc631; */
  --primary-color: #dfab27;
  --secondary-color: #143cbd;
  --background-color: #f1f1ea;
  --heading-color: #08a571;
  --text-color: #333;
  --header-height: 85px;
  --bullet-blue: url("../assets/imgs/bullets/blue_bullet.png");
}
