/* Gallery styling */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.746);
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-container:hover .image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align items to the bottom */
  padding: 10px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.Imagetext {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px 4px black, -1px -1px 4px black;
}

/* Fullscreen image viewer styling */
.image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s;
}

.image-header h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.large-image {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: #ff0000;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  height: 50px;
  width: 50px;
  color: rgba(0, 0, 0, 0.913);
  background: rgba(255, 255, 255, 0.772);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
  z-index: 1001;
}

.nav-button.left {
  left: 20px;
}

.nav-button.right {
  right: 20px;
}

.nav-button:hover {
  color: #ff0000;
}
