.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Add some spacing between cards */
  position: relative;
  padding: 20px;
  background-color: #f8f8f8;
  height: 80vh;
}

.card {
  width: 400px;
  height: 200px;
  background: rgba(211, 211, 211, 0.199);
  position: absolute;
  transition: transform 0.3s ease-in-out, z-index 1s ease-in-out,
    box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3);
  transform-origin: left bottom;
  text-align: left;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 .cardNumber{
  color: var(--secondary-color);
 }
 .cardTitle{
  color: var(--primary-color);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
 }
 .cardNumber, .cardTitle{
  display: inline-block;
 }

.card:hover {
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
}

.card p {
  font-size: 14px;
  color: #666;
}

.card.hovered {
  z-index: 10;
}
