.main-container {
  padding: 50px 0;
  /* background-color: var(--section-bg1); */
}

.headingContainer {
  font-size: 72px;
  padding-bottom: 40px;
  text-decoration: underline;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 5px;
}
.headingTitle {
  color: var(--heading-color);
  text-decoration: underline;
  text-decoration-color: var(--heading-color);
  text-decoration-thickness: 5px;
  display: inline;
}

/* .cards-container {
  gap: 16px;
  padding: 16px;
} */

.cardNumber {
  color: var(--secondary-color);
}

.cardTitle {
  color: var(--primary-color);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding-left: 20px;
}

.cardHead {
  display: flex;
  flex-direction: row;
}
.card:hover {
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.card p {
  font-size: 22px;
  color: #666;
}

.card.hovered {
  z-index: 10;
}
