/* App.css */

* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.noUnderline * {
  text-decoration: none;
}

.headGap {
  height: var(--header-height);
}

.shadowText {
  text-shadow: 1px 1px 4px black;
}

.justify {
  text-align: justify;
}

.fit {
  width: fit-content;
}

.inlineTab {
  display: inline-table;
}

.myFlex {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}
.shadow a:hover {
  text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.8), -0.5px -0.5px 3px rgba(0, 0, 0, 0.8);
}
Link:hover {
  color: var(--primary-color);
}

*:focus-visible {
  outline: none;
}
