.tooltip-container {
  position: relative;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  /* Adjust this value as necessary to ensure it appears above the text */
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background: var(--background);
  border-radius: 0.7em;
}

.tooltip-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 
  0 -4px 8px rgba(0, 0, 0, 0.5),
    4px 0 8px rgba(0, 0, 0, 0.5),
     -4px 0 8px rgba(0, 0, 0, 0.5);
}

.tooltip-text {
  display: inline-block;
  position: relative;
}

.tooltip-text:hover .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
